[submodule "qhttp"]
	path = qhttp
	url = https://github.com/azadkuh/qhttp
	branch = master
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson/
	branch = master
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost
	branch = boost-1.72.0
